doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Bullets Tests"
    - var nodeModulesPath = '../../node_modules/'
    include javascript.jade
    include css.jade
    - var resourceBasePath = '../../example/lib/'
    include ../../../example/src/jade/css.jade
    include ../../../example/src/jade/javascript.jade
  body
    article#test-content
      include ../../../example/src/jade/content.jade
    article#visible-element-tests
      include visible-elements-tests.jade
    include mocha.html
