doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Bullets Tests"
    - var nodeModulesPath = '../../node_modules/'
    include javascript
    include css
    - var resourceBasePath = '../../example/lib/'
    include ../../../example/src/jade/css
    include ../../../example/src/jade/javascript
  body
    article#test-content
      include ../../../example/src/jade/content
    article#collapse-selection-tests
      include collapse-selection-tests
    article#header-collapse-selection-tests
      include header-collapse-selection-tests
    include mocha.html
