h1#test-1(style='display: none;' data-forward='h3-1') h1-1
p p-1
h3 h3-1
h2#test-2(style='display: none;' data-backward='h3-1' data-forward='li-2') h2-1
p p-1
ul
  li(style='display: none;') li-1
  li#test-3(data-backward='li-2' data-forward='li-2') li-2
  li li-3
ul
  li li-4
  li#test-4(style='display: none;' data-backward='li-4' data-forward='li-9') li-5
ul
  li(style='display: none;') li-6
    ul 
      li li-7
ul
  li#test-5(style='display: none;' data-backward='li-4' data-forward='li-9') li-8
ul
  li li-9
  li#test-6(style='display: none;' data-backward='li-9')
