doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Bullets Demo"
    - var resourceBasePath = '../lib/'
    include css.jade
    include javascript.jade
  body
    include content.jade
